{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": false
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "@cieba/db": ["../../packages/db/dist/index.js"],
      "@cieba/db/*": ["../../packages/db/dist/*"],
      "@cieba/shared": ["../../packages/shared/dist/index.js"],
      "@cieba/shared/*": ["../../packages/shared/dist/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strictMode": true
  }
}
